<ion-content>

  <div class="background-container">

    <div class="background-filter">



    <ion-card class="grid-container" >
      <img src='assets/images/logo.png' class="logo" alt="mafats logo">
      
     <ion-card-header>
       <ion-card-title>


        <h2>Welcome to MAFATS</h2>
        Stay connected to get information about <br> Agri health and take care of your animals.
       </ion-card-title>
     </ion-card-header>
     <ion-card-content >
      <ion-button color="light" (click)="navigateToSignupPage()">SIGN UP</ion-button>

<ion-button  color="success" (click)="navigateToLoginPage()">SIGN IN</ion-button>
     </ion-card-content>

    </ion-card>
    </div>
  </div><br>

</ion-content>

